* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans';font-size: 16px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  min-width: 100%;
  margin: auto;
}



/* Big devices 82rem(1312px) */
/* @media screen and (min-width: 82rem) {
  body {
    background-color: pink;

  }
} */

/* Medium devices 62rem(992px) */
/* @media screen and (min-width: 62rem) {
  footer {
    
  }
} */

/* Small devices 43rem(688px) */
/* @media screen and (min-width: 43rem) {
  body {
    background-color: rgb(10, 56, 71);
  }
} */

