
.content-container {
    width: 100%;
    padding: 2rem 0;
    background: url('../../img/footer.png') no-repeat center center/cover;
    color: #ffffff;
    margin: auto;
    font-size: 0.7rem;
}
.left-panel {
    display: inline-block;

    margin-left: 65rem;
    margin-right: 1rem;
}

.text-contact {
    margin-top: 0.5rem;
}


.middle-panel {
    margin-top: 1rem;
    font-size: 1.5rem;
}

.row {
    display: flex;
    height: 100%;
}

@media screen and (min-width: 320px) and (max-width: 575px) {
    .content-container {
        max-width: 100%;
        min-width: 100%;
        padding: 0.5rem 0;
        background: url('../../img/footer.png') no-repeat center center/cover;
        color: #ffffff;
        font-size: 0.6rem;
    }
    .left-panel {
        display: inline-block;
        margin-left: 2rem;
        

    }
    
    .middle-panel {
        margin-top: 6rem;
    }

    .text-contact {
        margin-top: 0.5rem;
    }
}

@media screen and (min-width: 575px) and (max-width: 767px) {

}

@media screen and (min-width: 767px) and (max-width: 940px) {

}

@media screen and (min-width: 940px) and (max-width: 1075px) {

}






