@import url(https://fonts.googleapis.com/css?family=Montserrat:400italic,700italic,300,700);

.navbar {
    min-width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    position: fixed;
    font-size: 0.7rem;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
    font-family: Montserrat;
    font-weight: 500;
    border-bottom: #1ab3e6;
    z-index: 1;
}

.navbar .container {
    min-height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    
    
}

.navbar .nav-menu .social {
    display: flex;
    
}

/* line under nav-menu */

.navbar {
    border-bottom: 1px solid rgb(0, 0, 0);
    text-transform: uppercase;
    
  }
  
  .nav-menu a:hover {
    border-bottom: 3px solid rgb(20, 20, 20);
    color: #1ab3e6;
  }
  
  .nav-menu a.active {
    border-bottom: 3px solid rgb(20, 20, 20);
  }

/*  */


ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 0.5rem; 
}

.hamburger {
    display: none;
}

.logo {
    width: auto;
    height: 5rem;
}

.social {
    display: grid;
    grid-template-columns: repeat(4, 0.2fr);
    grid-column-gap: 0.3rem;
    margin-left: 1rem;
    margin-right: -20rem;  
}

.tb {
    display: table;
    width: 100%;
  }
  
  .td {
    display: table-cell;
    vertical-align: middle;
  }
  
  input,
  button {
    color: #fff;
    font-family: Nunito;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
  }
  
  #cover {
    position: relative;
    right: -5rem;
    top: 3rem;
    height: 3rem;
    width: 20rem;
    padding: -1rem;
    margin: -5.5rem 0rem 0rem 10rem;
    background-color: #1ab3e6;
    border-radius: 20px;
    box-shadow: 0 10px 40px #8390da, 0 0 0 20px #ffffffeb;
    transform: scale(0.6);
  }
  
  
  
  input[type="text"] {
    width: 100%;
    height: 50%;
    font-size: 1.5rem;
    margin-left: 1rem;
  }
  
  input[type="text"]::placeholder {
    color: #ffffff;
  }
  
  #s-cover {
    width: 1px;
    padding-left: 35px;
  }
  
.search-icon {
    margin-right: 1rem;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.icon {
    font-size: 1.5rem;
}


@media screen and (min-width: 320px) and (max-width: 575px) {
    .hamburger {
        display: block;
        margin-right: 3rem;
    }

    .navbar .active {
        right: 4;
    }

    .navbar {
        position: fixed;
        
        
    }

    .navbar .nav-menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 90px;
        /* right: -100%; */
        min-height: 100%;
        max-width: 100%;
        transition: 0.4s ease-in-out;
        z-index: 10;
        
        
    }

    .social {
        visibility: hidden;
    }

    #cover {
        position: relative;
        right: -0.3rem;
        height: 2rem;
        width: 8rem; 
        box-shadow: 0 10px 20px #8390da, 0 0 0 8px #ffffffeb; 
    }

    input[type="text"] {
        margin-bottom: 1rem;
    }

    .icon {
        margin-top: 0.5rem;
    }

    .search-icon {
        margin-right: 1rem;
        font-size: 1rem;
        margin-top: 0.4rem;
    }

    .logo {
        height: 3rem;
        width: 8rem;
        margin-left: -5rem;
    }


    body {
        background-color: #e6c11a;
    }
    
}


@media screen and (min-width: 575px) and (max-width: 767px) {
    .hamburger {
        display: block;
    }

    .navbar .nav-menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 90px;
        right: -100%;
        min-height: 100%;
        max-width: 100%;
        transition: 0.4s ease-in-out;
        z-index: 10;
        
        
    }

    .navbar .active {
        right: 4;
    }

    .navbar .nav-menu li a {
        font-size: 1.5rem;
    }

    .social {
        visibility: hidden;
    }

    #cover {
        position: relative;
        left: 2rem;
        height: 2rem;
        width: 15rem;  
    }

    input[type="text"] {
        margin-bottom: 1rem;
    }

    .icon {
        margin-top: 0.5rem;
    }

    .search-icon {
        margin-right: 1rem;
        font-size: 1rem;
        margin-top: 0.4rem;
    }

    .logo {
        height: 4rem;
    }

    .hamburger {
        margin-right: 0.5rem;
    }

    body {
        background-color: #b821d6;
    }
}

@media screen and (min-width: 767px) and (max-width: 940px) {
    .hamburger {
        display: block;
        margin-right: 20rem;
    }

    .navbar .nav-menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 90px;
        right: -100%;
        min-height: 100%;
        max-width: 100%;
        background-color: #FAFAFA;
        transition: 0.4s ease-in-out;
        z-index: 10;
        
        
    }

    #cover {
        position: relative;
        left: 5rem;
        margin-bottom: 0.5rem;
        height: 3rem;
        width: 20rem;  
    }

    .navbar .active {
        right: 4;
    }

    .social {
        display: grid;
        margin-right: -20rem;
    }

    body {
        background-color: #da83cc;
    }
}

@media screen and (min-width: 940px) and (max-width: 1075px) {
    #cover {
        position: relative;
        left: 5rem;
        margin-bottom: 0.5rem;
        height: 3rem;
        width: 17.5rem;  
    }    

    body {
        background-color: #1ab3e6;
    }
    
} 



 /* @media screen and (max-width:62rem) {
    
    .logo {
        height: 30%;
        width: 30%;
        
    }
    
    .navbar .nav-menu{
        display: inline-block;
    }

    


}  */